.container {
    height: 3rem;

    background-color: var(--background-github);
    color: var(--foreground-github);
    border: 1px solid var(--border-github);
    font-weight: 500;

    padding: 0 1rem;

    margin-top: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* - Next/Image */
    > div {
        margin-right: 0.5rem !important;
    }

    &:hover { background-color: var(--shadow-background-github);  }
}