.container {
    height: 3rem;

    background-color: var(--highlight);
    color: var(--white);
    border: 0;
    font-weight: 500;

    padding: 0 2rem;

    margin-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* - Next/Image */
    > div { margin-right: 0.5rem !important; }

    &.outlined {
        background: var(--background-roomBootom);
        color: var(--highlight);
        border: 1px solid var(--highlight);
    }
    &:not(:disabled):hover {
        background-color: var(--lowdark);
        color: var(--white);
    }
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed !important;
    }
}