.container {
    height: 2.5rem;

    background-color: var(--background-room-code);
    border: 1px solid var(--highlight);

    display: flex;
    align-items: stretch;

    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    overflow: hidden;

    &:hover { border: 1px solid var(--lowdark); }
    &:hover div { background-color: var(--lowdark); }

    div {
        background-color: var(--highlight);

        padding: 0 0.75rem;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    span {
        width: 14.5rem;

        font: 500 0.8rem 'Poppins', sans-serif;

        padding: 0 1rem 0 0.75rem;

        display: block;
        align-self: center;

        flex: 1;
    }
}