.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    main {
        padding: 3rem 2rem 4rem;

        .mainContent {
            width: 100%;
            max-width: 20rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            text-align: center;

            /* - Next/Image */
            > div > img {
                align-self: center;
            }

            h2 {
                font: 700 1.5rem 'Poppins', sans-serif;

                margin: 4rem 0 1.5rem;
            }

            form {
                display: flex;
                flex-direction: column;

                input {
                  height: 3rem;

                  background-color: var(--background-input-room);
                  border: 1px solid var(--medium-gray);

                  padding: 0 1rem;

                  border-radius: 0.5rem;
                  -webkit-border-radius: 0.5rem;
                  -moz-border-radius: 0.5rem;
                  -ms-border-radius: 0.5rem;
                  -o-border-radius: 0.5rem;
                }
                ::-webkit-input-placeholder { color: var(--placeholder); }
                :-moz-placeholder { color: var(--placeholder); }
                ::-moz-placeholder { color: var(--placeholder); }
                :-ms-input-placeholder { color: var(--dplaceholder); }

                button { margin-top: 1rem; }
            }

            small {
                color: var(--dark-gray);

                margin-top: 1rem;
            }
        }
    }
}



/* Desktop */
@media (min-width: 720px) {
    .container {
        height: 100vh;
        min-height: 100vh;

        flex-direction: row;
        align-items: stretch;

        main {
            padding: 0 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            flex: 8;

            .mainContent {
                .createRoom {
                    margin-top: 4rem;

                    justify-content: center;
                }
            }
        }
    }
}
@media (min-width: 520px) {
    .container {
        main { padding: 5rem 2rem 6rem; }
    }
}
/* ------- 'Mobile first' applied in this file ------- */