.container {

    main {
        max-width: 50rem;

        padding: 7rem 2rem 0;

        margin: 0 auto;

        .roomTitle {
            margin: 2rem 0 1.5rem;

            span#functionRoom {
                color: var(--color-function-room);
                font: 700 1.5rem 'Poppins', sans-serif;

                span#codeParams {
                    color: var(--color-code-params);

                    span#codeDestruct {
                        color: var(--color-code-destruct);

                        span#codeData { color: var(--color-code-data); }
                        span#twoPoints { color: var(--color-two-points); }
                    }
                }
                span#codeBlock {
                    color: var(--color-code-block);

                    h1 {
                        color: var(--color-code);
                        font: 700 1.5rem 'Poppins', sans-serif;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        span#codeMethodParam  {
                            color: var(--color-code-params);

                            span#data {
                                color: var(--color-code-data);
                            }
                        }
                    }
                }
            }
            .questionCount {
                background-color: var(--background-count-questions);
                color: var(--white);
                box-shadow: 0 0 1.25rem -0.625rem var(--background-count-questions);
                font: 500 0.8rem 'Poppins', sans-serif;

                padding: 0.5rem 1rem;

                margin-left: 1rem;

                border-radius: 1rem;
                -webkit-border-radius: 1rem;
                -moz-border-radius: 1rem;
                -ms-border-radius: 1rem;
                -o-border-radius: 1rem;
            }
        }

        .questionList {
            margin-top: 2rem;

            button {
                background: transparent;
                border: 0;

                gap: 0.5rem;

                &:hover {
                    svg#check  circle, path { stroke: var(--highlight); }
                    svg#answer path { stroke: var(--highlight); }
                    svg#trash  path { stroke: var(--red-primary); }
                }
            }

            .emptyQuestions {
                max-width: 30rem;

                padding: 1.5rem;

                margin: 2.5rem auto;

                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                gap: 1rem;

                h3 { font: 600 1.5rem 'Poppins', sans-serif; }
                p  { color: var(--dark-gray); }
            }
        }
    }
}



/* Title
@media (min-width: 360px) { .container main .roomTitle #functionRoom #codeBlock h1 { max-width: 10rem !important; } }
@media (min-width: 420px) { .container main .roomTitle #functionRoom #codeBlock h1 { max-width: 15rem !important; } }
@media (min-width: 520px) { .container main .roomTitle #functionRoom #codeBlock h1 { max-width: 20rem !important; } }
@media (min-width: 620px) { .container main .roomTitle #functionRoom #codeBlock h1 { max-width:  none !important; } }*/


@media (min-width: 630px) {
    .container main .roomTitle {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}